{erl_opts, [debug_info]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.2"}}},
    {uart,  {git, "https://github.com/tonyrog/uart.git",       {branch, "master"}}}
]}.
{overrides, [
    {override, dthread, [
        {artifacts, ["priv/dthread_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]}
    ]},
    {override, uart, [
        {artifacts, ["priv/uart_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]},
        {port_env, [ % This is needed, because the pc plugin does not export the REBAR_DEPS_DIR variable.
            {"CFLAGS",  "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE -D_THREAD_SAFE -I_build/default/lib -I../"},
            {"LDFLAGS", "$LDFLAGS ../dthread/c_src/dlog.o ../dthread/c_src/dlib.o ../dthread/c_src/dterm.o ../dthread/c_src/dthread.o -lutil"}
        ]}
    ]}
]}.
