{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.2"}}}
]}.
{relx, [
    {release, {firefork_stepper, {semver, ""}}, [firefork_stepper], [
        {sys_config, "rel/firefork_stepper.sys.config"}
    ]},
    {release, {firefork_station, {semver, ""}}, [firefork_station], [
        {sys_config, "rel/firefork_station.sys.config"}
    ]},
    {dev_mode, true},
    {include_erts, true},
    {extended_start_script, true}
]}.
{overrides, [
    {override, dthread, [
        {artifacts, ["priv/dthread_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]}
    ]},
    {override, uart, [
        {artifacts, ["priv/uart_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]},
        {port_env, [ % This is needed, because the pc plugin does not export the REBAR_DEPS_DIR variable.
            {"CFLAGS",  "$CFLAGS -DDEBUG_MEM -DDLOG_DEFAULT=DLOG_NONE -D_THREAD_SAFE -I_build/default/lib -I../"},
            {"LDFLAGS", "$LDFLAGS ../dthread/c_src/dlog.o ../dthread/c_src/dlib.o ../dthread/c_src/dterm.o ../dthread/c_src/dthread.o -lutil"}
        ]}
    ]},
    {override, gpio, [
        {artifacts, ["priv/gpio_drv.so"]},
        {plugins, [pc]},
        {provider_hooks, [
            {pre, [
                {compile, {pc, compile}},
                {clean,   {pc, clean}}
            ]}
        ]}
    ]}
]}.
