[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl_error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 104857600},  % 100 MB max file size
        {error_logger_mf_maxfiles, 50}          % 50 files max
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [
                {file, "log/firefork_debug.log"},
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, [
                    date, " ", time, " ", color, "[", severity, "]\t",
                    {proc, ["<", proc, "> "], ""},
                    {pid, ""},
                    {module, [
                        {pid, ["@"], ""},
                        module,
                        {line, [":",line], ""}
                    ], ""},
                    "\t", message, "\n"
                ]}
            ]}
        ]},
        {error_logger_redirect, true},
        {crash_log, "log/firefork_crash.log"}
    ]},
    {gpio, [
        % {options, [{chipset, bcm2835}]}
    ]}
].
